127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.18.0.10 ceph01 ceph01.example.com
172.18.0.11 ceph02 ceph02.example.com
172.18.0.12 ceph03 ceph03.example.com
