---
- name: Ceph orch host add loop
  ceph.automation.ceph_orch_host:   # 注意 collection 名字可能不同
    name: "{{ item | split('.') | first }}"
    address: "{{ hostvars[item].ansible_host | default(item) }}"
    state: present
  loop: "{{ groups.new_add_ceph_nodes | default([]) }}"
  when: "'ceph_bootstrap' in group_names"

- name: Create mark file to indicate host addition is done
  ansible.builtin.file:
    path: "{{ add_host_tasks_mark_file_path.operation_done_mark_file }}"
    state: touch
    mode: '0644'
